# Ignorar arquivos e pastas específicos
.vscode
.vscode/
.idea/

# Caches e dados do Ollama
__pycache__/
UNICA-Resumos/ollama_data/
UNICA-Resumos/cache/
UNICA-Resumos/__pycache__/
UNICA-scheduler/ollama_data/
UNICA-scheduler/cache/
UNICA-scheduler/__pycache__/
*.json

# Python e ambientes virtuais
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
eproc/
doug-eproc/

# Regras globais para quaisquer pastas
**/*.json
**/.env
**/*.env